<form action="/seat" method="POST" id="details">
  <label name="eticket">eticket</label><input type="text"/ name="eticket" id="eticket"><br/>
  <label name="passport">passport</label><input type="text"/ name="passport" id="passport">
  <input type="hidden" value="<%= @airline %>" name="airline">
  <input type="submit" id="submit" name="submit">
</form>
