Seat:
<form action="/finish" method="POST">
<input type="text" name="seat">
<input type="hidden" name="airline" value="<%= @airline %>" >
<input type="hidden" name="passenger" value="<%= @passenger %>">
<input type="submit">
</form>
