
<h2>Hello <%= @passenger.first_name %> <%= @passenger.last_name %></h2>

<% if @passenger.risky? %>
 There was a problem with your booking. Please go to a checkin desk.
<% else %>

Seat:
<form action="/finish" method="POST">
  <label name="seat">seat</label><input type="text" name="seat" id="seat">
  <input type="hidden" name="airline" value="<%= @airline %>" >
  <input type="hidden" name="passenger" value="<%= @passenger %>">
  <input type="submit" id="submit" name="submit">
</form>

<% end %>